---
import BookLayout from "../../layouts/BookLayout.astro";
import TimelineList from "../../components/TimelineList.astro";
---
<BookLayout title="Timeline">
  <h1>Annals & Dates</h1>
  <TimelineList />
</BookLayout>
